@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

h1{
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    }

body{
    background-color: lightyellow;
    }

#heading{
    text-align: center;
    font-size: 4em;
    }

h1{
    font-size: 2em;
    }

.wrapper{
    position: absolute;
    top: 150px;
    left: 500px;
    }

.emoji-face{
    background: #F2DD68;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 2px 0px 2px 2px rgba(0,0,0,0.07);
    position: relative;
    }

.eye1{
    background: #995710;
    height: 11px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 30px;
    }

.eye2{
    background: #995710;
    height: 11px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 70px;
    }

.mouth{
    background: #995710;
    height: 34px;
    width: 70px;
    border-radius: 0 0 90px 90px;
    position: absolute;
    top: 52px;
    left: 16px;
    z-index: 1;
    overflow: hidden;
    }

.tongue{
    background: #e25d5d;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 2;
    }

.mouth-shock{
    background: #995710;
    height: 25px;
    width: 23px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 40px;
    }

.mouth-speechless{
    background: #995710;
    height: 5px;
    width: 70px;
    position: absolute;
    top: 60px;
    left: 16px;
    }

.emoji-face{
    float: left;
    margin: 0px 20px 0px 0px;
    }

.write-up{
    background-color: #d8aa2b;
    padding: 5% 10%;
    margin: 10% 20%;
    text-align: center;
    border-radius: 20px;
    }
    
p{
    font-size: 1.5em;
    }
        
.emoji-face:hover{
    transform: scale(1.25);
    }
        
        

        






